openapi: 3.2.0
info:
  title: Pact REST Endpoint Spv API
  description: Transactional API for a runtime offering Pact smart contracts.
  version: 1.3.7
  x-logo:
    url: https://i.imgur.com/bAZFAGF.png
    alttext: Kadena Chainweb Logo
    href: https://api.chainweb.com/openapi
servers:
- url: https://api.chainweb.com/chainweb/{apiVersion}/mainnet01/chain/{chainId}/pact/api/v1
  description: Pact API for a chain on the Kadena mainnet.
  variables:
    apiVersion:
      default: '0.0'
    chainId:
      default: '0'
- url: https://api.testnet.chainweb.com/chainweb/{apiVersion}/testnet04/chain/{chainId}/pact/api/v1
  description: Pact API for a chain on the Kadena testnet.
  variables:
    apiVersion:
      default: '0.0'
    chainId:
      default: '0'
tags:
- name: endpoint-spv
  x-displayName: SPV proof creation for cross chain transaction
paths:
  /spv:
    servers:
    - url: https://api.chainweb.com/chainweb/{apiVersion}/mainnet01/chain/{chainId}/pact
      description: Pact API for a chain on the Kadena mainnet.
      variables:
        apiVersion:
          default: '0.0'
        chainId:
          default: '0'
    - url: https://api.testnet.chainweb.com/chainweb/{apiVersion}/testnet04/chain/{chainId}/pact
      description: Pact API for a chain on the Kadena testnet.
      variables:
        apiVersion:
          default: '0.0'
        chainId:
          default: '0'
    post:
      description: Blocking request to fetch spv proof of a cross chain transaction. Request must be sent to the chain where the transaction is initiated.
      summary: spv
      tags:
      - endpoint-spv
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/spv-object'
      responses:
        '200':
          description: The requested spv proof.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/spv-proof'
        '400':
          description: The requested spv proof was not findable.
          content:
            text/plain:
              example: 'SPV target not reachable: target chain not reachable. Chainweb instance is too young'
              schema:
                description: Error message with the description of failed proof requests.
                type: string
      operationId: postSpv
      x-operation-id-source: derived
components:
  schemas:
    spv-object:
      description: 'Object consisting of data required to fetch proof of a cross chain transaction

        '
      type: object
      required:
      - requestKey
      - targetChainId
      properties:
        requestKey:
          type: string
          description: Request Key of an initiated cross chain transaction at the source chain.
          example: 7af34f24d55d2fcf5de6fccfeeb837698ebff4598303237c64348a47806c8646
        targetChainId:
          type: string
          description: Target chain id of the cross chain transaction.
          example: '1'
    spv-proof:
      title: SPV Proof
      type: string
      description: Backend-specific data for continuing a cross-chain proof.
      example: '"eyJzdWJqZWN0Ijp7ImlucHV0IjoiQUJSN0ltZGhjeUk2TlRRMExDSnlaWE4xYkhRaU9uc2ljM1JoZEhWeklqb2ljM1ZqWTJWemN5SXNJbVJoZEdFaU9pSlhjbWwwWlNCemRXTmpaV1ZrWldRaWZTd2ljbVZ4UzJWNUlqb2lZa0Y0TjNOd1dqZFdUbUpZWTNocVZFUkNTamt5U21SdlUyVlFjWGx0U25KNWNXOUNhMWcyUkVoYWJ5SXNJbXh2WjNNaU9pSnBRVTF4Y0ZwaVUxSkRaR2hQUzA1YVVYZzFTMHBOTFZOUlNGRlZXRzF4UlZoUlRIRkNUVVpSVFVkSklpd2laWFpsYm5SeklqcGJleUp3WVhKaGJYTWlPbHNpZEdWemRDMXpaVzVrWlhJaUxDSXpaRGxsT1dZeFptSTBZemt6TnpneU5qWmpZV1JrTmpObE4yRTBOMkkzWVRZME5UTmlaVGsyTVdSaU1ETTNNMlkxWXpWbVlUUXdZV05sWlRaaVpHVm1JaXd4WFN3aWJtRnRaU0k2SWxSU1FVNVRSa1ZTSWl3aWJXOWtkV3hsSWpwN0ltNWhiV1Z6Y0dGalpTSTZiblZzYkN3aWJtRnRaU0k2SW1OdmFXNGlmU3dpYlc5a2RXeGxTR0Z6YUNJNkluVjBYMHBmV2s1cmIzbGhVRlZGU21ocGQxWmxWMjVyVTFGdU9VcFVPWE5SUTFkTFpHcHFWbFp5VjI4aWZWMHNJbTFsZEdGRVlYUmhJanB1ZFd4c0xDSmpiMjUwYVc1MVlYUnBiMjRpT201MWJHd3NJblI0U1dRaU9qRXhOams1TkRaOSJ9LCJhbGdvcml0aG0iOiJTSEE1MTJ0XzI1NiIsIm9iamVjdCI6IkFBQUFFQUFBQUFBQUFBQUJBUGhpTkRUdEFHT0l4dWE4OTFYUGU0NVFRS2QtTFdOekNpc0JDeHlmeDliQ0FPUkRnUUR2RFRrWmdOTzZ2M1ZpbU1wZ2ZGd2kyQm1mZ29jRVdwVmxRRW9EQWVoT1JPeFdBckJidXpldnZLTUdQZTB1RlVfUE8yejM3VC0tY0thdDZ1d3pBVm9DbFVrU1lXaXRDODF0TERVd2JYYVFWRTdnZFp1ckN6d0RiZUlBdlpBcUFKVThWZHZkMS1nYmo2UEtIVXdWQm00UWRvNl9YUkpYdHdKTGE4a0N3OWJhQWQtbXRubnlsUkczOC1WcTZzZmlZWm0xd2tKejhZcU5ZT2gwbVZCTktFR1VBTkdQWlB4NGFhMWFDdTJ1Ty1VRkJXLWxLbFdFeFU0a2JjMkszOFZCT21ZeEFDakxpdjMwazdBaGdwVXBCWUIxcEYwWFRqTmU4d3k4aHQta2FveFFKbTZpQVlXSkFYZlpXZERNdkQ3Z1UydUItWFdTVUh3bVpvM3NzV0stRzh1OTIxempBTzllbVBkOFJRVk5jOWZWZWJHN0lMb2lqVDlYMm9Db1p2Q00xQ29yR3laUUFTLVVZd3c4dkJ1bEVVYXlxaHZEQUFreUthbHk1TXk1bzJYVXZpZlZsNkg5QUM5ZXZsczVxMXh2bGhQbE9UWnJZNVB2SDNFbDd3dTBZTTJQYmZzaE1lUGFBUFpZRFJoWncyXzBVM1hIZllQbmJ6QlQ4bkc3a2gtR09kRTBTcFFCNEVOQ0FVWGEzcGVoMnhVd2dCVHd5WFVvc3RDRjNqQ21Scm9ZRGlEUTVGTGhYNkVQQUdlMUF2cFhJazZFM2tpdnUxY1N4aVFYV0hUcW1pdEUwLTVYaVpjNU4zQ3ZBS1dMNmM1RDdQSV84aW0zbG04cWhtZl84UXp3d2ZFcVpXQXZoQ0dWc1VVdCIsImNoYWluIjoxfQ"

        '
x-tagGroups:
- name: std-pact-api
  x-displayName: Standard Pact API
  tags:
  - endpoint-local
  - endpoint-send
  - endpoint-poll
  - endpoint-listen
- name: private-api
  x-displayName: Private Pact API
  tags:
  - endpoint-private
- name: spv-api
  x-displayName: SPV API
  tags:
  - endpoint-spv
- name: models
  x-displayName: Pact API models
  tags:
  - model-command
  - model-command-result
  - model-payload
  - model-pact-value
